
        nav{
            background-color: black;
            color:white;
            display: flex;
            justify-content:space-between;
            align-items:center;
            padding: 10px;
            margin: 20px;

        }
        .links{
            color: white;
             
        }
        body{
            width: 960px;
            margin: 0 auto;
            font-family:  Helvetica, sans-serif; 
        }
      
        h2{
            color:black;
        }
        .pics{
            width: 350px; 
            height: auto;
            margin-right: 20px;
        }
        .text-holder{
            background-color: black;
            color: white;
            padding: 10px;
            text-align: center;
            width :350px;
        }